.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }

  .InputArea {
    margin-top: 2em;
    text-align: left;
    font-weight: bold;
    float: left;
  }

  .Human {
    margin-left: 2em;
    float: right;
  }

  .TableView {
    width: 5em;
    float: left;
    text-align: left;
    margin-top: 3em;
    max-width: 20%;
    
    
  }

  .SymptomTable {
    max-width: 20%;
  }

  .AddButton {
    float: left;
    text-align: left;
    justify-content: left;
    margin-left: 2em;
  }